.sunshine-bliss {
  margin: 0 auto; /* Center-align horizontally */
  width: 342px;
  height: 603px;
}
.first-section {
  height: 24px;
  color: #ff6b82;
}
.segment {
  flex: 1;
}
.heading-bogo {
  color: #ff6b82;
  width: 150px;
  height: 24px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
}

.first-image-in-sec2 {
  width: 129px;
  height: 7px;
  top: 8px;
  left: 210px;
  position: absolute;

}
.second-image-in-sec2 {
  position: absolute;

  width: 119px;
  height: 26px;
  left: 215px;
  top: 15px;
  border-radius: 0px, 0px, 4px, 4px;
}
.image-container {
  position: absolute;
  display: inline-block;
  margin: 0;
  padding: 0;
  height: 0;;
}
.text-on-image {
  width: 97px;
  height: 15px;
  top: 17px;
  left: 230px;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  color: rgb(255, 255, 255);
}
.second-section {
  height: auto;
}
.unit-section-close {
  margin-top: 2svh;
  height: 74.11px;
  border: 0.9px solid #c8c8c8;
}
.unit-section-open {
  margin-top: 2svh;
  height: 174.11px;
  border: 2px solid #ff6b82;
  background-color: #fde0e4;
}
.unit-number {
  margin-left: 2svw;
  width: auto;
  height: 17px;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
}
.percentage-off-box {
  margin-left: 1svw;
  width: 55px;
  height: 17px;
  background: #ff6b82;
  border-radius: 1px;
}
.percentage-off-text {
  height: 15px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.standard-price-text {
  margin-left: 2svw;
  width: 84px;
  height: 15px;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
}
.final-value {
  margin-right: 2svw;
  width: 82px;
  height: 18px;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.standard-price-value {
  margin-right: 2svw;
  width: auto;
  height: 12px;
  opacity: 0.3px;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.free-delivery-text {
  width: 89px;
  height: 17px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #ff6b82;
}
.total-text {
  width: 124px;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}
.add-to-cart-button {
  width: 342px;
  height: 40px;
  padding: 10px;
  border-radius: 4px;
  gap: 8px;
  background: #ff6b82;
}
.plus-symbole {
  width: 16px;
  height: 16px;
  padding: 3.33px 3.33px 3.33px 3.33px;
  color: #ffffff;
}
.add-to-cart-text {
  width: 68px;
  height: 15px;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.powered-by-pumper-text {
  width: 129px;
  height: 15px;
  font-size: 12px;
  font-style: italic;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: right;
  color: #00000066;
}
.text-style {
  width: auto;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}
.number-style {
  font-size: 9px;
  font-weight: 400;
  line-height: 11px;
  letter-spacing: 0em;
  text-align: left;
}
.select-style {
  font-size: xx-small;
    width: 57px;
  border-radius: 1.81px;
  background: #ffffff;
  border: 0.9px solid #d9d9d9;
}
.radio-style {
  margin-left: 1svw;
  height: 14.46px;
  color: #ff6b82;
  border: 0.9px solid #ff6b82;
}
.display-hide {
  display: none;
}
.display-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.justify-content-end {
  display: flex;
  align-items: flex-end;
  justify-content: end;
}
.justify-content-space-between {
  display: flex;
  justify-content: space-between;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  width: min-content;
  box-sizing: border-box;
  flex: 1;
}
.table {
  border-spacing: 0;
}
.td, th {
  padding: 0px;
  margin: 0px;
}
.ml-4{
  margin-left: 4svw;
}
.mt-2 {
  margin-top: 2svh;
}
.mt-3 {
  margin-top: 3svh;
}
.mt-4 {
  margin-top: 4svh;
}

